{
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true,
  "svelteBracketNewLine": true
}
